* {
    font-family: 'Rubik', sans-serif;
}

body {
    width: 70%;
    background-color: rgba(0, 23, 156, .800);
    color: white;
    margin: auto;
}

header {
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px white solid;
    margin-bottom: 1em;
}

#icon {
    max-height: 100px;
}

header h1 {
    font-size: 3.5em;
}

main {
    display: flex;
    flex-direction: row;
    /* gap: 10%;  */
    /* This gap will be likely be used for media queries when i get to that part */
}

#nav-bar {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    margin: 0;
    gap: 5px;
}

#nav-bar a {
    display: block;
    color: white;
    text-decoration: none;
    width: 60%;
    line-height: 2.5em;
}

#nav-bar a li {
    border: white solid 2px;
    text-align: center;
}

#forum-container {
    border: white 2px solid;
    width: 82%;
    display: flex;
    flex-direction: column;
}

.post {
    padding: .5em 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0, 23, 156, 0.300);
    margin: .5em 1%;
}

.profile-name {
    font-size: 100%;
    width: 20%;
}

.post-albums {
    display: flex;
    gap: 2%;
    width: 80%;
}

.album-figure {
    margin: 0;
    width: 25%;
}

.album-cover {
    width: 75%;
    /* max-width: 200px; */
    border: white 1px solid;
}

.album-caption {
    width: 120px;
}

hr {
    color: white;
}

footer {
    text-align: center;
}

.footer-icon {
    max-height: 2em;
}