* {
    font-family: 'Rubik', sans-serif;
}

body {
    width: 70%;
    background-color: rgba(0, 23, 156, 0.800);
    color: white;
    margin: auto;
    /* background-image: linear-gradient(blue, white); */
}

header {
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
}

#icon {
    max-height: 100px;
}

header h1 {
    font-size: 3.5em;
}

main {
    display: flex;
    flex-direction: row;
}

#nav-bar {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items:start;
    gap: 5px;
}

#nav-bar a {
    color: white;
    text-decoration: none;
}

#nav-bar a li {
    /* color: white; */
    border: white solid 1px;
    width: 100px;
    padding: .5em 5%;
    text-align: center;
    
}

#main-container {
    border: white 2px solid;
}